{% extends "base.html" %}
{% load static %}

<!-- Header section -->
{% block page_header %}
<header class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</header>
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="text-center text-warning pt-4 shadow-custom">
    <span class="h2 font-weight-bold">Our Featured Products</span>
</div>

<div class="container">
    <div class="row" id="product-container">
        {% for product in products %}
        <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"
                    style="max-height: 200px; object-fit: cover;">
                <div class="card-body" style="padding: 10px;">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text" style="margin-bottom: 10px;"><strong>${{ product.price }}</strong></p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-warning">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="text-center text-white pt-4 pb-3">
    <button type="button" class="btn btn btn-warning">More Products Here</button>
    <hr class="border border-warning my-2" style="opacity: 0.5;">
</div>

{% endblock %}

{% block extra_js %}
{% include 'home/extra_js.html' %}
{% endblock %}